{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h3>User Profile</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Hello, {{ user.firstname }} {{ user.lastName }}!</h5>
                        <p class="card-text">
                            <strong>Email:</strong> {{ user.email }}<br>
                            <strong>Name:</strong> {{ user.firstname }} {{ user.lastName }}
                        </p>
                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
